
#fondoAnalisisImg{
position: absolute;    
background-image: url(radarPuntos.png);
    height: 30vh;
    width: 40vh;
    background-size: cover;
    right: 0vw;
    top: 180vh;
    opacity: 0.4;
    
}

#analisis{
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
    background-color: #4568f6;
    padding: 20px 0px;
    padding-top: 12vh;


}

#analisisHeader{
    padding-bottom: 5vh;
    color: white;

    

}

#tituloAnalisisRadar{
    font-size: 1.3rem;
    text-align: left;
    font-family: 'MiFuenteBold';
    padding-right: 6vw;
    padding-left: 4vw;
}


#tituloAnalisis{
    font-size: 1.3rem;
    text-align: left;
    padding-right: 50vw;
    color: rgb(43, 43, 133);
    padding-left: 4vw;



}

#analisisTituloSec{

    font-size: 0.4rem;


}

#analisisDatos
{
    display: grid;
grid-template-columns: 1fr ;
padding: 4vw 8vw;
color: white;
column-gap: 8vw;
width: 100vw;


}

#analisisCasos{
    font-size: 2rem;
    width: 60vw;
    margin-left: 4vw;
 
    

    
}

#enConstruccion{
    font-size: 1.2rem;
    padding-top: 5vh;
    font-family: 'MiFuente';
    padding: 0vh 10vw;
    width: 100vw;
}

#analisisTextoFinal{
    color: white;
    font-size: 1rem;
    padding: 0vh 22vw;
    padding-bottom: 2vh;

}

#aclaracionAnalisis{
    font-size: 0.8rem;
    padding-bottom: 4vh;
    padding: 0vh 10vw;

}

#datoN1, #datoN2, #datoN3, #datoN4, #datoN5{
    width: 40vw;
    font-size: 2.rem;
    text-align: left;
    color: rgb(43, 43, 133);
}
#datos1, #datos2, #datos3, #datos4, #datos5{
    width: 90vw;
    border-left: solid;
    border-width: 1px;

    border-color: white;
    padding: 0vh 3vw;
    justify-self: center;
    margin: 2vh 0vw;
    text-align: left;
    
}

.textAnalisis{
    color: white;
    font-size: 0.7rem;
    text-align: justify;
    padding: 0vh 1vw;
    text-transform: uppercase;
    font-family: 'MiFuente';

}

#analisisCasos{
    padding-top: 5vh;
    padding-bottom: 1vh;
    text-align: left;
    border-bottom: solid;
    width: 50vw;
    border-width: 0.5vh;
    font-family: 'MiFuenteBold';

    
}
#analisisCasosBajada{
    text-transform: uppercase;
    text-align: left;
    font-size: 0.8rem;
    padding-top: 1vh;
    padding-left: 4vw;


}


#subir{
justify-self: right;
    width: 15vw;
    margin-right: 7vw;
    background-color: #4568f6;
    border-color: white;

}


/*== Responsive==*/

/*== tablet==*/



@media (min-width: 768px){

    #fondoAnalisisImg{
        position: absolute;    
        background-image: url(radarPuntos.png);
            height: 50vh;
            width: 70vh;
            background-size: cover;
            right: 0vw;
            top: 195vh;
            opacity: 0.4;
            
        }
    

    

    #analisisHeader{
        padding: 0vw 8vw;
        padding-bottom: 10vh;
        
    
    }

    #analisisDatos{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding: 0px 10vw;
        column-gap: 0px;
        column-gap: 0.5vw;
        width: 100vw;

    }

    
#datoN1, #datoN2, #datoN3, #datoN4, #datoN5{
    width: 12vw;
    font-size: 2rem;
        padding: 0vh 0vw;

    
    
    
}

#datos1, #datos2, #datos3, #datos4, #datos5{
    width: 14.8vw;
    
}



.textAnalisis{
    width: 10vw;
    color: white;
    font-size: 0.7rem;
    text-align: left;
    padding: 0vh 0vw;
    

}

#subir{
    width: 10vw;
 

    
}


#analisisCasos{
    width: 25vw;
}

    
}


/*  PC  */

@media (min-width: 1200px){
  

    #fondoAnalisisImg{
        position: absolute;    
        background-image: url(radarPuntos.png);
            height: 70vh;
            width: 90vh;
            background-size: cover;
            right: 15vw;
            top: 185vh;
            opacity: 0.4;
            
        }
    #subir{
        width: 8vw;
        height: 7vh;
        margin-right: 5vw;
    }


    
#tituloAnalisisRadar{
        padding-right: 40vw;
        
    
    }

#enConstruccion{
    padding-top: 5vh;
}

    #analisisDatos{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding: 0px 15vw;
        column-gap: 0px;
        column-gap: 0.5vw;
        width: 100vw;

    }

    #tituloAnalisis{
        padding-right: 10vw;
        
    }

    #aclaracionAnalisis{
        padding-bottom: 5vh;

    }
}