


#conecta{
    width: 100vw;
    background-color: #2b3bcd;
    padding: 20vh 5vw;
  
    

}

#conectaTitulo{
    color: white;
    font-size: 2rem;
    padding: 0vh 5vw;
    



}

#conectaTextContainer{
    width: 80vw;


}


#conectaTextRadar{
    padding-top: 5vh;
color: white;
font-size: 1rem;
text-align: justify;
font-size: 0.8rem;
padding: 15px;


}

#conecta2{
    background-color: white;
    padding-top: 5vh;
    color: #2b3bcd;
    font-size: 0.8rem;
    text-align: justify;
    padding: 15px;
    padding: 10vh 10vw;
    padding-bottom: 2vh;

}


/*== tablet==*/

@media (min-width: 768px){

    #conecta{
        width: 100vw;
        background-color: #2b3bcd;
        padding: 20vh 15vw;
        padding-bottom: 6vh;

    
    
    }

    #tituloAnalisisRadar{
        font-size: 2rem;
    }
    
    #conectaTitulo{
        color: white;
        font-size: 3.3rem;
        padding: 0vh 10vw;
    
    }
    
    #conectaText{
        padding-top: 5vh;
    color: white;
    font-size: 1rem;
    text-align: justify;}


    #conecta2{
        padding-top: 5vh;
        color: #2b3bcd;
        font-size: 1rem;
        text-align: justify;
        padding: 15px;
        padding: 10vh 15vw;
    
    }
    


}
