#filtros{
    width: 100vw;
    height: 90vh;
    position: absolute;
}

#gap{
    height: 10vh;
}


#filtrosBox{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

#plegable{
   display: grid;
   grid-template-columns: 1fr 1fr;
}
#cerrarFiltros{
    visibility: hidden;
}


#boxes{
    display: grid;
    grid-template-columns: 1fr;
    padding: 3px;
    height: 55vh;
    padding-left: 5px;
    z-index: 1000;

}


#display{
    background-color: white;
    color: black;
    border-radius: 20px;
    
        box-shadow: -2px -2px 16px WHITE, 2px 2px 16px #c9c9c9;
        text-align: left;
        padding-left: 5vw;


}

#cantCasos{
    font-size: 45px;
    text-align: left;
}

#filtroTipo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 15px;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 10px;
    box-shadow: -2px -2px 16px WHITE, 2px 2px 16px #c9c9c9;
    justify-content: center;
    text-align: center;


}

.tipoClass{
    font-size: 10px;
}


#gap2{
    height: 25vh;
}


#rangeSlider{

    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 10px;
    height: 5vh;
    /*margin-left: 15px;*/
    box-shadow: -2px -2px 16px WHITE, 2px 2px 16px #c9c9c9;
    z-index: 1000;

}

.tipos{
    display: grid;
    grid-template-columns: 1fr;
    padding: 7px 5px;
justify-items: center;}

.tipo1Icon{
background-color: yellow;
width: 23px;
height: 23px;
border-radius: 5px;

}
.tipo2Icon{
    background-color: orange;
    width: 23px;
    height: 23px;
    border-radius: 5px;

    }
    .tipo3Icon{
        background-color: red;
        width: 23px;
        height: 23px;
        border-radius: 5px;
        }

        #botonBajar{
            z-index: 1000;

        }

        .componente{
            background-color: white;
            color: black;
            border-radius: 20px;
            padding: 10px;
                box-shadow: -2px -2px 16px WHITE, 2px 2px 16px #c9c9c9;
        margin-top: 15px;
        }

        #simple-select{
            width: 20vw;
        }



        
/*== Responsive==*/

/*== tablet==*/

@media (min-width: 768px){

   
    #filtrosBox{
        display: grid;
        grid-template-columns: 1fr 4fr;
    }


    #filtros{
        height: 90vh;
    }
    .tipoClass{
        font-size: 10px;
    }

    #gap{
        height: 12vh;
    }


    
#boxes{
    padding: 5px;
    height: 50vh;
    padding-left: 15px;
}

#simple-select{
    width: 20vw;
};




}


/*  PC  */

@media (min-width: 1200px){

    
#filtrosBox{
    display: grid;
    grid-template-columns: 1fr 10fr;
}

#simple-select{
    width: 10vw;
};
}