

#desarrolladoX{
    background-color: white;
    color: blue;
    font-size: 0.7rem;
    padding: 2vh 1vw;
    text-align: right;
    width: 12vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    

}

#dx{
    font-size: 0.7rem;
    width: 15vw;
    text-align: right;

}


#logoLS{
height: 25px;
padding-left: 0.5vw;
}


#LS{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
    width: 25px;
    color: black;

}

#footer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    
}


#Desarrollo{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    align-content: center;
    align-self: center;

}


@media (min-width: 768px){
    #footer{
        display: grid;
        grid-template-columns: 4fr 1fr;
        
    }


}