
#Main2{
    
    width: 100vw;
}

#franja1{
    width: 100vw;
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: #EAEAEA;
    margin-top: 0px;
    padding-bottom: 0px;
    padding: 0vh 2vw;
    column-gap: 2vw;

}

#reportaMain{
    background-color: white;
    color: black;
    border-radius: 20px;
    align-self: center;
    padding-bottom: 1vh;
    margin-bottom: 0px;
    
    
   
}

#botonMapa{
    background-color: red;

}



#tituloReportaMain{
    font-size: 2rem;
}

#tituloNotasMain{
    font-size: 1.5REM;
    color: #2b3bcd;
}

#bajadaPrincipal{
    font-size: 0.6rem;
    padding: 0vh 6vw;
    text-align: justify;
    color: #2b3bcd;
    padding-top: 1vh;
}

.botonMain{
    text-decoration: none; /* Quitar subrayado de enlace */
  cursor: pointer; /* Cambiar el cursor al estilo de clic */

    background-color: white;
    color: black;

}

#botonMain2{
    text-decoration: none; /* Quitar subrayado de enlace */
  cursor: pointer; /* Cambiar el cursor al estilo de clic */

    align-self: center;
    margin-bottom: 0px;
    /*width: 100%;*/
    height: 100%;
    

    }


#separadorMain{

    height: 3vh;
    background-color:white;
    display: grid;
    grid-template-columns: 1fr 3fr;
  column-gap: 15px; 
    margin: 0px;
    
}

#bloqueI{
    background-color: #EAEAEA;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px ;
    

}
#bloqueD{

    background-color: #EAEAEA;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px ;

}

#franja2{
    display: grid;
    grid-template-columns: 1fr ;
    background-color: #EAEAEA;
    margin-top: 0px;
    padding: 2vh 2vw;
    padding-top: 0px;
/*    height: 57vh;*/
    column-gap: 4vw;
}

.autorNotaMain{
    font-size: 0.7rem;
    padding: 1vh ;
    color: #2b3bcd;
}



#notasMain{
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 3vh 2vw;
    margin-top: 0px;
    margin-right: 0px;
}

#botoneraMain{
    padding-top: 2vh;
display: grid;
grid-template-columns: 3fr 1fr;
column-gap: 2vw;

}

#contactoMain{
    color: white;
    background-color: #2b3bcd;
    margin-top: 0px;
    border-radius: 20px;
    padding: 20px;
    height: 25vh;
   
}

#conectaTitle{
    color: white;
    
}

#conectaTextMain{
   color: white;
    font-size: 0.6rem;
    text-align: justify;
    padding-bottom: 2vh;
    

}

#listadoText{
    color: white;
}

#analisisTextMain{
    color: white;
    font-size: 1rem;
    padding-top: 2vh;
}




#analisisMain{ 
    display: grid;
    grid-template-columns: 1fr;
    color: white;
    background-color: black;
    margin-top: 0px;
    border-radius: 20px;
    padding: 20px;
    height:25vh;
   
}


.bajada{
    padding: 5px 10px;
    font-size: 0.8rem;

}



#botonReportaMain, #botonNotasMain{
    text-decoration: none; /* Quitar subrayado de enlace */
  cursor: pointer; /* Cambiar el cursor al estilo de clic */

background-color: white;
border-color: #2b3bcd;
color: #2b3bcd;



}

#botonReportaMain{
font-size: smaller;
}


#botonConectaMain{
    text-decoration: none; /* Quitar subrayado de enlace */
  cursor: pointer; /* Cambiar el cursor al estilo de clic */

    background-color:  #2b3bcd;
    border-color: white;
    color: white;
    width: 23vw;
    }

    #botonAnalisisMain{
        background-color: black;
        border-color: #2b3bcd;
        height: 5vh;
        width: 23vw;
        justify-self: center;
        text-decoration: none; /* Quitar subrayado de enlace */
  cursor: pointer; /* Cambiar el cursor al estilo de clic */

    }


/*== Responsive==*/

/*== tablet==*/

@media (min-width: 768px){


    #franja1{
        display: grid;
        grid-template-columns: 8fr 1fr;
       column-gap: 20px;
     
        padding: 20px;
        height: 42vh;
        padding-bottom: 0px;
    }

#franja2{
    grid-template-columns: 1fr 1fr;
    height: 45vh;
}

#notasMain{
    width: 50vw;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 20px;
    margin-top: 0px;
    margin-right: 0px;
}

#botoneraMain{
    grid-template-columns: 1fr;
    height: 40vh;
    
}

#analisisMain{
    width: 41vw;
    height: 12vh;
    display: grid;
    grid-template-columns: 4fr 1fr;

}

#tituloNotasMain{
    padding: 0vh 4vw;

    padding-top: 5vh;
}


#contactoMain{
    width: 41vw;
    height: 25vh;
    padding: 0px;
    


}

#botonNotasMain{
    margin-top: 5vh;
}
#conectaTitle{
    padding: 7px 4vw;
    margin: 0px;


}




#conectaTextMain{
    color: white;
     width: 40vw;
     font-size: 0.7rem;
     text-align: justify;
     padding: 2vh 5vw;
     margin: 0px;

 
 }

#bajadaPrincipal{
    font-size: 1.2rem;
    padding: 0vh 6vw;
    text-align: justify;
    color: #2b3bcd;
    padding-top: 5vh;
    padding-bottom: 5vh;
}


#botonReportaMain, #botonNotasMain{
  
    width: 15vw;    
    }
    
    
    #botonConectaMain{
        width: 15vw;
        }
    
        #botonAnalisisMain{
         
            height: 5vh;
            width: 8vw;
    
        }


        #analisisTextMain{
            color: white;
            font-size: 1rem;
            padding-top: 0px;
      
        }

        #reportaMain{height: 100%;

        }

}


/*  PC  */

@media (min-width: 1200px){
    #botonReportaMain, #botonNotasMain{

    width: 8vw;    
}


#botonConectaMain{
    width: 8vw;
    }

    #botonAnalisisMain{
     
        height: 5vh;
        width: 4vw;

    }


    #tituloNotasMain{
        padding-top:  5vh;
    }
  
    #botonNotasMain{
        margin-top: 7vh;
    }

    #tituloReportaMain{
        padding-top:  5vh;
    }
  
    #botonReportaMain{
        margin-top: 3vh;
    }


    #bajadaPrincipal{
        font-size: 1.8rem;
        padding: 0vh 10vw;
        text-align: justify;
        color: #2b3bcd;
        padding-top: 3vh;
    }

    
#conectaTextMain{
    color: white;
     width: 40vw;
     font-size: 1rem;
     text-align: justify;
     padding: 2vh 5vw;
     margin: 0px;

 
 }







}