




#marquee-container{
    width: 100vw;
    height: 3vh;
    background-color: #2b3bcd;
   
    top: 8vh;
    z-index: 5000;
position: fixed;    
}

#marquee{
    color: white;
    font-size: 0.7rem;
}

#highlight-text{
    color: yellow;
}




        
/*== Responsive==*/

/*== tablet==*/

@media (min-width: 768px){




    #marquee-container{
        width: 100vw;
        height: 20px;
        background-color: #2b3bcd;
       
        top: 8vh;
        z-index: 3000;
    position: fixed;    
    }

    
#marquee{
    color: white;
    font-size: 12px;
}


}