.heading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 5000;
  height: 8vh;
  background-color: #ffffff;
  color: #00425A;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 7fr 1fr;
  align-items: center;
  padding-right: 2px;
  align-content: center;
}


#botonesNavPc{
  font-size: 1rem;
  
}

.heading>h1 {
  padding: 4px;
  margin: 0;
}

#reportaBotonNav{
  color: white;
  background-color: #2b3bcd;
  padding: 0.5vh 1vw;
  border-radius: 25px;

}


#menuImg {
  width: 100px;
}

#menu {
  display: grid;
  grid-template-columns: 3fr 1fr;
  
  
}

#menuPC{
  justify-items: center;
justify-content: center;
justify-self: center;
}


#botonMenu {
  justify-self: right;

  
}

/* #botonReporta{
  color: white;
  font-size: 1rem;
} */



#menuPCBox {
  display: flex;
  justify-content: right;
  align-items: center
}


#menuPC {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 10px;
  align-items: center;



}

#logoImg {
  width: 70px;
}

#logo {
  display: flex;
  padding-left: 20px;
}

#linkMarquee{
  color: white;
}
