.heading {
  position: fixed;
top: 0;
left: 0;
width: 100vw;
z-index: 2000;
  height: 8vh;
  background-color: #ffffff;
  color: #00425A;
  display: grid;
  grid-template-columns: 1fr 3fr ;
  align-items: center;
  padding-right: 2px;
 }
 
 .heading > h1 {
  padding: 4px;
  margin: 0;
 }

#menuImg{
  width: 100px;
}



 #menu{
  display: grid;
  grid-template-columns: 3fr 1fr; }

#botonMenu{
  display: flex;
justify-content: right;
}

#menuPCBox{
display: flex;
justify-content: right;
align-items: center}


 #menuPC{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
 
 }

 #logoImg {
width: 60px;
 }

#logo{
display: flex;
padding-left: 20px;
}



/*== Responsive==*/

/*== tablet==*/

@media (min-width: 768px){

  .heading {
  width: 100vw;
    height: 10vh;
    padding-right: 5px;
   }

   
 #logoImg {
  width: 70px;
   }
   
   
 .heading > h1 {
  padding: 10px;
  margin: 0;
 }

 
#menuImg{
  width: 80px;
}

#menuPC{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
 
 }


}


/*  PC  */

@media (min-width: 1200px){

  
}