#notas{
    width: 100vw;
    height: 92vh;
    background-color: white;

}

#notasContainer{
    padding: 20px;
    padding-top: 30vh;
    height: 90vh;

}





/*== tablet==*/

@media (min-width: 768px){

    #notas{
        width: 100vw;
        height: 100vh;
        background-color:white;
    
    }
    
    #notasContainer{
        padding: 20vw
    }



}