
body{
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
}

.radar {
  /*background: url(https://gtms03.alicdn.com/tps/i3/TB1Vet9IVXXXXbuapXXb2YSIVXX-567-567.png) no-repeat 50% 50%;*/
  width: 80vh;
  height: 80vh;
  position: 100%;
  background-size: 100vw;
  position: absolute;
  
  margin-left: -100% / 2;
  margin-top: -100% / 2;
  background-color: rgba(255, 255, 255, 0);
}

.radar:hover {
  background: none;
}

.radar .pointer {
  position: absolute;
  z-index: 1024;
  left: 10.5820106%;
  right: 10.5820106%;
  top: 10.5820106%;
  bottom: 50%;
  will-change: transform;
  transform-origin: 50% 100%;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  background-image: linear-gradient(135deg, 
    rgba(255, 250, 250, 0.3) 1%, 
    #ff680b1a 40%,
    rgba(237, 229, 229, 0) 100%
    );
  clip-path: polygon(100% 0, 
    100% 10%, //控制扇形角度 100% => 135deg
    50% 100%, 0 100%, 0 0);
  
  animation: rotate360 8s infinite linear;
}

.radar .pointer:after {
  content: "";
  position: absolute;
  width: 50%;
  bottom: -1px;
  border-top: 2px solid rgba(217, 23, 23, 0.02);
  box-shadow: 0 0 3px rgba(228, 53, 14, 0.);
  border-radius: 9px;
}




@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}









