* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#mapGap{
  height: 13vh;
}

.App {
 background-color: white;
  text-align: center;
  width: 100vw;
  position: relative;
}

.marker {
  width: 24px;
  height: 24px;
  border-radius: 50%;
 
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}



.marker.amarillo {
  background-color: yellow; /* Cambia el color según tus preferencias */

  
}

.marker.naranja {
  background-color: orange; /* Cambia el color según tus preferencias */
}

.marker.rojo {
  background-color: red;
  z-index: 4000; /* Cambia el color según tus preferencias */
}

/* Resto de los estilos */



#markerLine {
  background-color: rgb(249, 38, 6);
  width: 1.5px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-container {
  /* width: 300px; */

 position: absolute;
  top: 80vh;
  left: 3vh;
  width: 80vw;
  z-index: 0;

  /* height: 80px; */
  /* background-color: #00425a; */
  /* color: #eff5f5; */
  /* display: grid; */
  /* grid-template-columns: 1fr 5fr; */
  /* align-items: center; */
  padding-right: 5px;
}

.marker:hover {
  background-color: rgb(52, 7, 7);
  transform: scale(1.5); /* Increase the size when hovered */
}

/*== Encabezado==*/
#heading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 80px;
  background-color: #00425a;
  color: #eff5f5;
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  padding-right: 5px;
}


#mapa {
  background-color: #fff4ff;
}


.slider-container{
  background-color: white;
  color: black;
  border-radius: 20px;
  padding-left: 32vw;
  padding-bottom: 2vw;
  padding-top: 2vw;

      box-shadow: -2px -2px 16px WHITE, 2px 2px 16px #c9c9c9;
}


.popup {
 
  position: absolute;
  top: 60vh;
  left: 2vw;
  width: 30vw;
  height: 30vh;
 
  padding: 15px;
  padding-left: 25px;
  color: white;
  background-color: blue;
  border: 1px solid white;
  border-radius: 30px;
  z-index: 4000;
  overflow: hidden;
  white-space: break-spaces;
}

#displayTitulo{
  font-size: 1.2rem;
}

#displayFecha{
  font-size: 1rem;
  color: white;

}
#displayLink{
color: lightblue

}



/*TV RESPONISVE 1200px*/
@media (min-width: 1200px){

  .popup {
 
    position: absolute;
    top: 60vh;
    left: 1vw;
    width: 15vw;
    height: 30vh;
   
    padding: 15px;
    padding-left: 25px;


    white-space: break-spaces;
  }



}

